<div class="main">
  <div class="container">
    <div class="row">
      <h1>getUserMedia</h1>
    </div>
    <article>
      <video  id="video" width="320" height="200" autoplay></video>
      <section>
        <button id="btnStart">Start video</button>
        <button id="btnStop">Stop video</button>            
        <button id="btnPhoto">Take a photo</button>
      </section>
      <canvas id="canvas" width="320" height="240"></canvas>
      <div class="row">
        <canvas id="hexnum" width="320" height="100"></canvas>
      </div>
    </article>
  </div>
</div>