<div class="main">
  <div class="container">
    <div class="row">
      <h1>Scan Inventory Tag</h1>
    </div>
    <div id="video-form">
      <video id="video" width="320" height="200" autoplay></video>
      <section>
        <button id="btnTestPhoto">Generate test photo</button>
        <button id="btnStart">
          Start video
        </button>
        <button id="btnPhoto">
          Take a photo
        </button>
      </section>
      <canvas id="canvas" width="320" height="240"></canvas>
      <div class="row">
        <canvas id="hexnum" width="320" height="100"></canvas>
      </div>
      <%= form_for @tag, url: { action: "create" } do |f| %>
        <%= f.text_field :data, placeholder: "Data" %>
        <%= f.text_field :number, placeholder: "Number" %>
        <%= f.submit "Update Inventory" %>
      <% end %>
    </div>
  </div>
</div>
